<div class="index">

<div class = "parttwo">
    <h5> Eating and drinking my way through Jonathan Gold's 101 Best Restaurants and Eater LA </h5><br>
    <a href="https://www.instagram.com/gilty_pleasures/"><img class="social" src="/images/insta.png"> </a>
    <a href="https://www.facebook.com/giltyyy"><img class="social" src="/images/facebook.png"></a>
    <a href="https://www.pinterest.com/emmagilhuly/"><img class="social" src="/images/pinterest.png"></a>
    <a href=""><img class="social" src="/images/social.png"></a>
</div>

<h5> Emma Gilhuly </h5>

<form style="margin:10px; padding:10px">
  <h5> Subscribe for Updates:
  <input style="display: inline; "type="text" placeholder="email" name="email"/>
  </h5>
</form>

<p id="notice"><%= notice %></p>


<div class="container allposts">
  <div class="row">
      <div class="col-md-8">
        <div class="indexpost">
        <% @posts.reverse.each do |post| %>
          <tr>
            <p><%= link_to post.title, post %></p>
            <p><%= post.body.truncate(250) %></p>
            <%= image_tag (post.post_attachments.try(:first).try(:avatar_url)) %> <br>
            <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
          </tr> <br>
        <p> <%= link_to 'New Post', new_post_path %> </p>
        </div>
      </div>
      <div class="col-md-4">
        <h6> Featured Posts </h6>
        <% @posts.order("RANDOM()").each do |post| %>
          <tr>
            <p><%= link_to post.title, post %></p>
            <p><%= post.body.truncate(100) %></p>
            <%= image_tag (post.post_attachments.try(:first).try(:avatar_url)) %> <br>
        <% end %>
      </div>
  </div>
</div>




</div>
