<!DOCTYPE html>
<html>
<head>
  <title>Gilty Pleasures</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="headcontainer">
    <div class="letters">
      <h1> GILTY PLEASURES </h1>
      <h2> LOS ANGELES </h2>
      <h3> <%= link_to 'HOME', posts_path, {:style=>'color:#FFF;'} %>
      | <%= link_to '101', '/restaurants/index', {:style=>'color:#FFF;'} %>
      | <%= link_to 'BEST', '/best/index', {:style=>'color:#FFF;'} %>
      | <%= link_to 'ABOUT', posts_path, {:style=>'color:#FFF;'} %> </h3>
    </div>
  </div>

<%= yield %>

</body>
</html>
